anyio==3.5.0
asgiref==3.5.0
bleach==5.0.0
bump2version==1.0.1
bumpversion==0.6.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
commonmark==0.9.1
docutils==0.18.1
fastapi==0.75.2
fastapi-utils==0.2.1
greenlet==1.1.2
h11==0.13.0
idna==3.3
importlib-metadata==4.11.3
keyring==23.5.0
pkginfo==1.8.2
psycopg2-binary==2.9.3
pydantic==1.9.0
Pygments==2.12.0
python-dotenv==0.20.0
readme-renderer==35.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.2.0
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.35
starlette==0.17.1
twine==4.0.0
typing_extensions==4.2.0
urllib3==1.26.9
uvicorn==0.17.6
webencodings==0.5.1
zipp==3.8.0
