on:
  pull_request:
    paths:
      - "**.py"
      - ".github/workflows/**"
jobs:
  test:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout the commit
        uses: actions/checkout@v2

      - name: Install python
        uses: actions/setup-python@v3
        with:
          python-version: "3.7.0"

      - name: install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: python -m unittest discover -s test
